# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Compiled files
*.class
*.jar
*.war
*.ear

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Gradle
.gradle/
build/

# Allure Reports
.allure/allure-2.10.0
allure-report/

# Other
.DS_Store
